*{
    background-color: rgb(20, 21, 21);
    color: white;
}

form {
    margin-left: 20px;
  }
  
  label {
    margin-bottom: 10px;
    padding-right: 5px;
  }
  #issue{
    margin-left: 16px;
  }
  
  input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  #issueBook{
    width: 538px;
    padding: 16px;
    background-color: white;
    color: black;
  }
  
  
  #Table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px;
    border: 1px solid white;
   
  }
  
  #Table th,
  #Table td {
    border: 1px solid white;
    padding: 8px;
    
  }
  
  #Table th {
    background-color: black;

  }
  #Table td {
    text-align: left;
    padding-left: 10px;
    
  }